* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;

}

@font-face {
    font-family: "Girloy";
    src: url("./source/Gilroy-ExtraBold.otf") format("otf");
}

body {
    min-height: 100vh;
    margin: 64px;
    background: #1A1A1A;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 92px;
}

header {
    background-image: url('/стилеру/web/source/0f49632168bc8e9ba0d837bee3ff1bdd4316195c.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 176px;
    border-radius: 64px ;
    padding-top: 64px;
    padding: 32px;
    text-align: center;
    align-items: center;
    h1 {
        font-weight: 800;
        font-size: 64px;
        width: 650px;
    }
    h2 {
        font-weight: 500;
        font-size: 20px;
        max-width: 390px;
        word-wrap: break-word;
        font-style: medium;
    }
}

main {
    display: flex;
    flex-direction: row;
}
main h1 {
    font-size: 48px;
    font-weight: 700;
}
main img {
    margin-left: auto;
    margin-right: 24px;
    height: 80px;
    width: 80px;
}
a1 {
    font-size: 20px;
    font-weight: 500;
    min-width: 122px;
    margin-right: 32px;
    opacity: 30%;
    font-style: medium;
}
.info {
    gap: 16px;
    display: flex;
    flex-direction: column;
    max-width: 451px;
}
.name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
}
.work {
    display: flex;
    flex-direction: row;
}
.age {
    display: flex;
    flex-direction: row;
}
.hobby {
    display: flex;
    flex-direction: row;
}
.certainname {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h1 {
        font-size: 48px;
        font-weight: 700;
    }
    h2 {
        font-size: 24px;
        opacity: 40%;
        font-weight: 500;
        font-style: italic;
    }

}
makepost {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.makepost_bg {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 56px;
    padding: 32px;
    gap: 24px;
    .namepost {
        background-color: #3A3A3A;
        padding-left: 24px;
        padding-top: 19px;
        min-height: 64px;
        border-radius: 24px;
        h1 {
            font-size: 24px;
            opacity: 30%;
            font-weight: 500;
            font-style: medium;
        }
    }
    .descrpost {
        background-color: #3A3A3A;
        padding-top: 16px;
        padding-left: 24px;
        min-height: 414px;
        border-radius: 24px;
        h1 {
            font-size: 24px;
            opacity: 30%;
            font-weight: 500;
            font-style: medium;
        }   
    }
    button {
        width: 270px;
        background-color: #304CA6;
        border: none;
        border-radius: 24px;
        padding: 19px;
        color:white;
        opacity: 50%;
    }
}
posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h1 {
        font-size: 48px;
        font-weight: 700;
    }
}
.numposts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.post {
    background-color: #232323;
    width: 424px;
    display: flex;
    flex-direction: column;
    border-radius: 56px;
    overflow: hidden;
    img {
        height: 259px;
    }
}
.infopost {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    h3 {
        font-size: 16px;
        opacity: 50%;
        font-weight: 500;
        font-style: medium;
    }
}
.posttext {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
        font-size: 32px;
        font-weight: 500;
        font-style: medium;
    }
    h2 {
        font-size: 20px;
        font-weight: 500;
        font-style: medium;
    }
}
footer {
    border-top: 1px solid #3F3E3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        padding-top: 18px;
        font-size: 16px;
        font-weight: 500;
        font-style: medium;
    }
    h2 {
        font-size: 16px;
        padding-top: 101px;
        font-weight: 500;
        font-style: medium;
    }
}
.fbottons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 23px;
}
.tg {
    background-color: #304CA6;
    border: none;
    border-radius: 16px;
    padding: 16px 32px;
    color:white;
}
.sitest {
    background: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    padding: 16px 32px;
    color:white;
}
